@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-bottom: 10px;
}

.fundo{
    background-image: linear-gradient(45deg, #d44762, #e9555b);
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.calculadora {
    display: block;
    position: absolute;
    background-color: #091921;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 15px;
}

.botao {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #0c2833;
    border: none;
    color: white;
}

.botao1 {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    color: #0c2833;
}

.botao2 {
    width: 70px;
    height: 70px;
    margin: 2px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffbf3e;
    border: none;
    color: white;
}

.botao:hover, .botao1:hover, .botao2:hover {
    background-color: #e9555c;
    color: white;
}

#resultado {
    display: block;
    background-color: #091921;
    color: white;
    height: 45px;
    width: 202px;
    margin: 5px;
    padding: 30px;
    border-radius: 4px;
    font-size: 3em;
    text-align: right;
}

button {
    border-radius: 35px;
}