@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-bottom: 10px;
}

.fundo{
    background-image: linear-gradient(45deg, #d44762, #e9555b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculadora {
    background-color: #091921;
    border-radius: 15px;
    padding: 15px;
    height: 80vh;
    width: 90vw;
}

table {
    margin-top: 90px;
}

.botao {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    font-size: 25px;
    cursor: pointer;
    background-color: #0c2833;
    border: none;
    color: white;
}

.botao1 {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgray;
    border: none;
    color: #0c2833;
}

.botao2 {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
    cursor: pointer;
    background-color: #ffbf3e;
    border: none;
    color: white;
}

#resultado {
    display: block;
    background-color: #091921;
    color: white;
    height: 40px;
    width: 240px;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
    font-size: 3em;
    text-align: left;
}

button {
    border-radius: 40px;
}