@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1024) {
    section#login { /* CONFIGURAÇÃO PARA TABLET */
        width:80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background: #e0e0e0 url(../imagens/login.png) no-repeat;
        background-size: cover;
        background-position: center center;
        
    }

    section#login > div#form {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1025px) {
    section#login { /* CONFIGURAÇÃO PARA DESKTOP */
        width: 990px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        display: block;
        background: #e0e0e0 url(../imagens/login.png) no-repeat;
        background-size: cover;
        background-position: center center;
    }

    section#login > div#form {
        float: right;
        width: 50%;
        margin-top: 15%;
    }
}
